@import url(colors.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;

  /* background-color: var(--bg); */
  background-image: linear-gradient(
    to right top,
    #051937,
    #3e3961,
    #785c8b,
    #b781b1,
    #f9a8d4
  );
  color: var(--text);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 25rem 1fr;
  column-gap: 1rem;

  height: 100vh;
  width: 90vw;
}

/* Helper styles */
.pad-med {
  padding: 1.4rem;
}

.bdr-rad-s {
  border-radius: 6px;
}

.highlight {
  color: var(--highlight);
}

.relative {
  position: relative;
}

/* Textbox styling */
.text-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.section-title {
  font-size: 3.2rem;
  margin-bottom: 0.4rem;
}
.helper-text {
  margin-bottom: 2rem;
}
.textarea {
  resize: none;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  font-weight: normal;
  opacity: 1;
}

.textarea:focus {
  outline: none;
}

.copy-icon-container {
  display: inline;
  position: absolute;
  transform: translate(-110%, 10%);
}

.copy-icon {
  height: 3rem;
  cursor: pointer;
  transition: transform 0.1s color 0.1s;

  color: var(--opt-shade-2);
}

.copy-icon:hover {
  transform: scale(1.05);
  color: var(--btn);
}

/* Control box styling */
.controls-box {
  background-color: var(--options);
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.control {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.adjustment-types {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.adj-icon {
  height: 3rem;
  cursor: pointer;
}

.--deselect {
  stroke: var(--opt-shade-2);
  fill: var(--options);
}

.--select {
  stroke: var();
  fill: var(--btn);
}

.input-time {
  font-size: 2rem;
  width: 9rem;
  text-align: center;
  padding: 0.4rem;

  color: var(--text);
  background-color: var(--opt-shade);

  outline: none;
  border: none;
  border-radius: 4px;
}

.btn {
  cursor: pointer;

  background-color: var(--btn);
  color: var(--highlight);
  font-size: 2rem;
  text-transform: capitalize;

  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: transform 0.2s;
}

.btn:hover {
  transform: translate(0, 2px);
}
